# Python cache
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Virtual env / environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# IDE
.vscode/
.idea/

# Logs
*.log

# OS junk
Thumbs.db
.DS_Store

# Local settings
.env
.envrc

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage*
.cache
pytest_cache/
hypothesis/

# Jupyter
.ipynb_checkpoints

# mypy / pytype
.mypy_cache/
.pytype/
.pyre/

# PDM / Pixi
.pdm-python
.pdm-build/
.pixi
__pypackages__/

# mkdocs
/site

# Cursor
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# EXE（ReleaseではGitHubに上げない）
*.exe
